

<!-- <header>
    <div class="logo">logo</div>
    <div class="breadcrumb">breadcrumb</div>
</header> -->
<main>
    <div class="main-header"><h1>إضافة معاملة</h1></div>
    <div class="add-transaction">
        <form action="" (ngSubmit)="add()">
            <input  type="text"
                    [(ngModel)]="newTransaction.name"
                    name="transaction_name"
                    placeholder="اسم المعاملة">

            <select name="administration" id="">
                <option value="" selected disabled>الإدارة</option>
                <option value="الهندسة/ التنظيم">الهندسة/ التنظيم</option>
            </select>

            <input type="submit" value="إضافة">

        </form>
    </div>
    <div class="list-steps">
        <div class="tab">
            <button class="listStepsTablinks" (click)="openTab($event, 'listStepsTabcontent', 'listStepsTablinks', 'required-steps')" id="requiredStepsDefaultOpen">الإجرائات المطلوبة</button>
            <button class="listStepsTablinks" (click)="openTab($event, 'listStepsTabcontent', 'listStepsTablinks', 'required-documents')">المستندات المطلوبة</button>
            <button class="listStepsTablinks" (click)="openTab($event, 'listStepsTabcontent', 'listStepsTablinks', 'required-fees')">تحديد الرسوم</button>
        </div>
            
        <div id="required-steps" class="listStepsTabcontent">
            <table id="required-steps-table">
                <tr *ngFor="let form of forms; let i = index">
                    <td>{{form.name}}</td>
                    <td>

                        <input class="styled-checkbox" id="required-steps-checkbox-{{form.id}}" type="checkbox" value="{{form.id}}">
                        <label for="required-steps-checkbox-{{form.id}}" (click)="selectStep(i)" title="تحديد"></label>

                        <a  class="additionalOptionsTablinks"
                            (click)="manageGroups(i,
                                                $event,
                                                'additionalOptionsTabcontent',
                                                'additionalOptionsTablinks',
                                                'step-group-management',
                                                'grid')"
                            title="تحديد المجموعات">
                            <fa-icon [icon]="faUsers"></fa-icon>
                        </a>

                        <a  class="additionalOptionsTablinks"
                            (click)="manageOrder(i,
                                                $event,
                                                'additionalOptionsTabcontent',
                                                'additionalOptionsTablinks',
                                                'step-order',
                                                'grid')"
                            title="ترتيب الخطوة">
                            <fa-icon [icon]="faListOl"></fa-icon>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
            
        <div id="required-documents" class="listStepsTabcontent">
            <table id="required-documents-table">
                <tr *ngFor="let document of documents; let i = index">
                    <td>{{document.name}}</td>
                    <td>
                        <input class="styled-checkbox" id="required-documents-checkbox-{{document.id}}" type="checkbox" value="{{document.id}}">
                        <label for="required-documents-checkbox-{{document.id}}" (click)="selectDocument(i)" title="تحديد"></label>    
                    </td>
                </tr>
            </table>
        </div>

        <div id="required-fees" class="listStepsTabcontent">
            <table id="required-fees-table">
                <tr *ngFor="let fee of fees; let i = index">
                    <td>{{fee.name}}</td>
                    <td>
                        <input class="styled-checkbox" id="required-fees-checkbox-{{fee.id}}" type="checkbox" value="{{fee.id}}">
                        <label for="required-fees-checkbox-{{fee.id}}" (click)="selectFee(i)" title="تحديد"></label>    
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="additional-options">
        <div style="display:none" id="step-group-management" class="additionalOptionsTabcontent">
            <h3>{{currSelectedStep.form.name}}</h3>
            <div class="tab">
                <button class="groupManagementTablinks" (click)="openTab($event, 'groupManagementTabcontent', 'groupManagementTablinks', 'existing-groups', 'grid')" id="groupManagementDefaultOpen">إضافة الى مجموعة</button>
                <!-- <button class="groupManagementTablinks" (click)="openTab($event, 'groupManagementTabcontent', 'groupManagementTablinks', 'add-new-group', 'grid')">إضافة مجموعة جديدة</button> -->
            </div>

            <div id="existing-groups" class="groupManagementTabcontent">
                <table id="existing-groups-table">
                    <tr *ngFor="let group of groups; let i = index">
                        <td>{{group.name}}</td>
                        <td>
                            <input  class="styled-checkbox"
                                    id="existing-groups-checkbox-{{currSelectedStep.form.id}}-{{group.id}}"
                                    type="checkbox"
                                    [selectControl]="selected(group.id)"
                                    value="{{group.id}}">
                            <label  for="existing-groups-checkbox-{{currSelectedStep.form.id}}-{{group.id}}"
                                    (click)="selectGroup($event, i)"
                                    title="تحديد"></label>    
                        </td>
                    </tr>
                </table>
            </div>
            <!-- <div id="add-new-group" class="groupManagementTabcontent">
                <h3>اعضاء المجموعة</h3>
                <input type="text" name="search_users" id="" placeholder="بحث">
                <table id="add-new-group-table">
                    <tr *ngFor="let user of users; let i = index">
                        <td>{{user.username}}</td>
                        <td>
                            <input class="styled-checkbox" id="add-new-group-checkbox-{{user.id}}" type="checkbox" value="{{user.id}}">
                            <label for="add-new-group-checkbox-{{user.id}}" (click)="selectGroupUser(i)" title="تحديد"></label>    
                        </td>
                    </tr>
                </table>
                <input type="text" [(ngModel)]="newGroup.name"  name="group_name" value="{{newGroup.name}}" placeholder="اسم المجموعة">
                <button (click)="addNewGroup()">إضافة</button>
            </div> -->

            <button id="step-group-management-close-btn" (click)="closeTab('step-group-management')">close</button>
        </div>
            
        <div style="display:none" id="step-order" class="additionalOptionsTabcontent">
            <h3>{{currSelectedStep.form.name}}</h3>
            <div id="available_step_order">
                <div *ngFor="let order of availableOrders; let i = index">

                    <input  class="styled-checkbox"
                            type="radio"
                            name="step_order"
                            id="available-orders-radio-{{order}}"
                            value="{{order}}"
                            [selectControl]="currSelectedStep.order? order == currSelectedStep.order: false">

                    <label  id="available-orders-label-{{order}}"
                            for="available-orders-radio-{{order}}"
                            (click)="selectOrder(order)"
                            title="تحديد">
                            {{order}}
                    </label>

                </div>
            </div>
            <button (click)="clearStepOrder()">clear choice</button>
            <button (click)="closeTab('step-order')">close</button>
        </div>
    </div>
</main>