header{
    padding: 10px 20px;
    background: red;

    display: grid;
    grid-template-columns: 2fr 4fr 2fr;

    .logo{
        padding: 10px;
        background: yellow;
        grid-column: 1 / span 1;
        grid-row: 1; 
    }

    .breadcrumb{
        padding: 10px;
        background: blue;
        grid-column: 3 / span 1;
        grid-row: 1;
    }
}