
<section>
  <select [(ngModel)]="selectedTransactionType" name="transaction_type" id="transaction-type">
    <option value="" selected disabled>نوع المعاملة</option>
    <option *ngFor="let request of requests" value="{{request.name}}">{{request.name}}</option>
  </select>

  <a *ngIf="isParentURL(requestsList)" (click)="listRequests()" routerLink="">عرض الطلبات</a>
  <a *ngIf="isParentURL(requestsAdd)" (click)="addRequests()" routerLink="">إضافة طلب</a>

  <router-outlet></router-outlet>
  
</section>
