<section>

  <article>

    <div>

      <div>
        <p>البروز</p>
        <p>طول الحد</p>
        <p>الإتجاهات</p>
        <p>الحدود</p>
      </div>

      <div>
        <input type="text" name="north_prominences" id="north-prominences">
        <input type="text" name="north_border_length" id="north-border-length">
        <select name="north_directions" id="north-directions">
          <option value="" selected disabled>الإتجاه</option>
        </select>
        <p>الشمالى</p>
      </div>

      <div>
        <input type="text" name="south_prominences" id="south-prominences">
        <input type="text" name="south_border_length" id="south-border-length">
        <select name="south_directions" id="south-directions">
          <option value="" selected disabled>الإتجاه</option>
        </select>
        <p>الجنوبى</p>
      </div>

      <div>
        <input type="text" name="east_prominences" id="east-prominences">
        <input type="text" name="east_border_length" id="east-border-length">
        <select name="east_directions" id="east-directions">
          <option value="" selected disabled>الإتجاه</option>
        </select>
        <p>الشرقى</p>
      </div>

      <div>
        <input type="text" name="west_prominences" id="west-prominences">
        <input type="text" name="west_border_length" id="west-border-length">
        <select name="west_directions" id="west-directions">
          <option value="" selected disabled>الإتجاه</option>
        </select>
        <p>الغربى</p>
      </div>

    </div>

  </article>

  <article>
    
  </article>

  <article>

  </article>

  <article>

    <div>

      <div>
        <input type="text" name="engineering_office_input" id="engineering-office-input">
        <input type="text" name="engineering_office" id="engineering-office" placeholder="المكتب الهندسى">
      </div>

      <div>
        <input type="text" name="syndicate_registration_number" id="syndicate-registration-number" placeholder="رقم القيد بالنقابة">
        <input type="text" name="tax_card" id="tax-card" placeholder="البطاقة الضريبية">
        <input type="text" name="commercial_register" id="commercial-register" placeholder="السجل التجارى">
      </div>

    </div>

  </article>

  <article>

  </article>

  <article>

  </article>

</section>