
<section>
  
  <article id="first-article">

    <div>

      <div>
        <p>البروز</p>
        <p>طول الحد</p>
        <p>الإتجاهات</p>
        <p>الحدود</p>
      </div>

      <div>
        <input type="text" name="north_prominences" id="north-prominences">
        <input type="text" name="north_border_length" id="north-border-length">
        <select name="north_directions" id="north-directions">
          <option value="" selected disabled>الإتجاه</option>
        </select>
        <p>الشمالى</p>
      </div>

      <div>
        <input type="text" name="south_prominences" id="south-prominences">
        <input type="text" name="south_border_length" id="south-border-length">
        <select name="south_directions" id="south-directions">
          <option value="" selected disabled>الإتجاه</option>
        </select>
        <p>الجنوبى</p>
      </div>

      <div>
        <input type="text" name="east_prominences" id="east-prominences">
        <input type="text" name="east_border_length" id="east-border-length">
        <select name="east_directions" id="east-directions">
          <option value="" selected disabled>الإتجاه</option>
        </select>
        <p>الشرقى</p>
      </div>

      <div>
        <input type="text" name="west_prominences" id="west-prominences">
        <input type="text" name="west_border_length" id="west-border-length">
        <select name="west_directions" id="west-directions">
          <option value="" selected disabled>الإتجاه</option>
        </select>
        <p>الغربى</p>
      </div>

    </div>
    
    <div></div>

    <div>

      <textarea name="request_description"
                id="request-description"
                placeholder="وصف الطلب"
                rows="5"></textarea>
      
      <textarea name="required_work"
                id="required-work"
                placeholder="الأعمال المطلوبة"
                rows="5"></textarea>
    </div>

  </article>

  <article id="second-article">

    <div>
      <select name="validity_statement" id="validity-statement">
        <option value="" disabled selected>بيان صلاحية</option>
      </select>

      <select name="land" id="land">
          <option value="" disabled selected>قرار الأرض</option>
      </select>
    </div>

    <div>

      <div>
        <input type="text" name="engineering_office_input" id="engineering-office-input">
        <input type="text" name="engineering_office" id="engineering-office" placeholder="المكتب الهندسى">
      </div>

      <div>
        <input type="text" name="syndicate_registration_number" id="syndicate-registration-number" placeholder="رقم القيد بالنقابة">
        <input type="text" name="tax_card" id="tax-card" placeholder="البطاقة الضريبية">
        <input type="text" name="commercial_register" id="commercial-register" placeholder="السجل التجارى">
      </div>

    </div>

    <div>

      <div>
        <input type="text" name="" id="">
        <input type="text" name="" id="" placeholder="المهندس الإستشارى">
      </div>

      <div>
        <select name="" id="">
          <option value="" selected disabled>رقم السجل</option>
        </select>
        <input type="text" name="" id="" placeholder="رقم القيد">
      </div>

      <div>
        <select name="" id="">
            <option value="" selected disabled>فئة الأعمال</option>
        </select>
        <input type="text" name="" id="" placeholder="عدد الوحدات">
      </div>

      <div>
        <select name="" id="">
          <option value="" selected disabled>نوع الترخيص</option>
        </select>
        <input type="text" name="" id="" placeholder="عدد الأدوات">
      </div>

      <div>
        <select name="" id="">
          <option value="" selected disabled>نوع المبنى</option>
        </select>
        <input type="text" name="" id="" placeholder="سطح الأعمال">
      </div>

      <input type="text" name="" id="" placeholder="مساحة قطعة الأرض">

    </div>

  </article>

</section>