
<section>
  
  <article id="first-article">

    <div>

      <div>
        <p>البروز</p>
        <p>الردود</p>
        <p>طول الحد</p>
        <p>الإتجاهات</p>
        <p>الحدود</p>
      </div>

      <div>
        <input type="number" [(ngModel)]="buildingLicense.P_North" name="north_prominences" id="north-prominences">
        <input type="number" [(ngModel)]="buildingLicense.North_RODOD" name="north_interiors" id="north-interiors">
        <input type="number" [(ngModel)]="buildingLicense.North_length" name="north_border_length" id="north-border-length">
        <!-- <select name="north_directions" id="north-directions">
          <option value="" selected disabled>الإتجاه</option>
        </select> -->
        <input type="text" [(ngModel)]="buildingLicense.D_North" name="north_directions" id="north-directions">
        <p>الشمالى</p>
      </div>

      <div>
        <input type="number" [(ngModel)]="buildingLicense.P_South" name="south_prominences" id="south-prominences">
        <input type="number" [(ngModel)]="buildingLicense.South_RODOD" name="south_interiors" id="south-interiors">
        <input type="number" [(ngModel)]="buildingLicense.South_Length" name="south_border_length" id="south-border-length">
        <!-- <select name="south_directions" id="south-directions">
          <option value="" selected disabled>الإتجاه</option>
        </select> -->
        <input type="text" [(ngModel)]="buildingLicense.D_South" name="south_directions" id="south-directions">
        <p>الجنوبى</p>
      </div>

      <div>
        <input type="number" [(ngModel)]="buildingLicense.P_East" name="east_prominences" id="east-prominences">
        <input type="number" [(ngModel)]="buildingLicense.East_RODOD" name="east_interiors" id="east-interiors">
        <input type="number" [(ngModel)]="buildingLicense.East_length" name="east_border_length" id="east-border-length">
        <!-- <select name="east_directions" id="east-directions">
          <option value="" selected disabled>الإتجاه</option>
        </select> -->
        <input type="text" [(ngModel)]="buildingLicense.D_East" name="east_directions" id="east-directions">
        <p>الشرقى</p>
      </div>

      <div>
        <input type="number" [(ngModel)]="buildingLicense.P_West" name="west_prominences" id="west-prominences">
        <input type="number" [(ngModel)]="buildingLicense.West_RODOD" name="west_interiors" id="west-interiors">
        <input type="number" [(ngModel)]="buildingLicense.West_length" name="west_border_length" id="west-border-length">
        <!-- <select name="west_directions" id="west-directions">
          <option value="" selected disabled>الإتجاه</option>
        </select> -->
        <input type="text" [(ngModel)]="buildingLicense.D_West" name="west_directions" id="west-directions">
        <p>الغربى</p>
      </div>

    </div>
    
    <div></div>

    <div>

      <textarea name="request_description"
                [(ngModel)]="buildingLicense.Request_Description"
                id="request-description"
                placeholder="وصف الطلب"
                rows="5"></textarea>
      <!-- building_license.Request_Description -->
      <textarea name="work_description"
                [(ngModel)]="buildingLicense.Work_Description"
                id="work-description"
                placeholder="الأعمال المطلوبة"
                rows="5"></textarea>
      <!-- building_license.Work_Description -->
    </div>

  </article>

  <article id="second-article">

    <div>
      <!-- <select name="validity_statement" id="validity-statement">
        <option value="" disabled selected>بيان صلاحية</option>
      </select> -->
      <input type="text" [(ngModel)]="validityCertificate.certificate_number" name="validity_statement" id="validity-statement" placeholder="بيان صلاحية" disabled>
      <label for="validity-statement">بيان صلاحية</label>

      <!-- <select name="land_decision" id="land">
          <option value="" disabled selected>قرار الأرض</option>
      </select> -->
      <input type="text" [(ngModel)]="lusDecision.decision_number" name="land_decision" id="land-decision" placeholder="قرار الأرض" disabled>
      <label for="land-decision">قرار الأرض</label>

    </div>

    <div>

      <div>
        <!-- <input type="text" name="engineering_office" id="engineering-office" placeholder="المكتب الهندسى"> -->
        <ngx-select-dropdown  name="engineering_office"
                              [config]="engineeringOfficesConfig"
                              [options]="engineeringOffices"
                              [(ngModel)]="currEngineeringOffice"
                              (change)=populateEngineeringOfficeFields()>
        </ngx-select-dropdown>
      </div>

      <div>
        <input type="text" [(ngModel)]="currSyndicateRegRumber" name="syndicate_registration_number" id="syndicate-registration-number" placeholder="رقم القيد بالنقابة" disabled>
        <input type="text" [(ngModel)]="currTaxCard" name="tax_card" id="tax-card" placeholder="البطاقة الضريبية" disabled>
        <input type="text" [(ngModel)]="currCommercialRegister" name="commercial_register" id="commercial-register" placeholder="السجل التجارى" disabled>
      </div>

    </div>

    <div>

      <!-- <div> -->
        <!-- <input type="text" name="" id=""> -->
        <!-- <input type="text" name="engineer" id="" placeholder="المهندس الإستشارى"> -->
        <ngx-select-dropdown  name="engineer"
                              [config]="engineersConfig"
                              [options]="engineers"
                              [(ngModel)]="currEngineer"
                              (change)=populateEngineerFields()>
        </ngx-select-dropdown>
      <!-- </div> -->

      <!-- <div> -->
        <!-- <select name="" id="">
          <option value="" selected disabled>رقم السجل</option>
        </select> -->
        <input type="text" [(ngModel)]="currEngineerRegisterNumber" name="register_number" id="register-number" placeholder="رقم القيد" disabled>
      <!-- </div> -->
    </div>
    <div>
      <div>
        <select [(ngModel)]="buildingLicense.Work_Category" name="work_category" id="work-category">
            <option value="null" selected disabled>فئة الأعمال</option>
            <option value="أ" >أ</option>
            <option value="ب" >ب</option>
            <option value="ج" >ج</option>
            <option value="د" >د</option>
        </select>
        <input [(ngModel)]="buildingLicense.Units_Number" type="number" name="units_number" id="units-number" placeholder="عدد الوحدات">
        <!-- building_license.Units_Number -->
      </div>

      <div>
        <select [(ngModel)]="buildingLicense.License_Type" name="license_type" id="license-type">
          <option value="null" selected disabled>نوع الترخيص</option>
          <option value="رخصة مبانى">رخصة مبانى</option>
        </select>
        <input [(ngModel)]="buildingLicense.Repeated_Number" type="number" name="repeated_number" id="repeated-number" placeholder="عدد الأدوار">
      </div>

      <div>
        <select [(ngModel)]="buildingLicense.Buliding_Type_id" name="building_type" id="building-type">
          <option value="null" selected disabled>نوع المبنى</option>
          <option value="1">مبنى</option>
        </select>
        <input [(ngModel)]="buildingLicense.Working_Area" type="number" name="working_area" id="working-area" placeholder="سطح الأعمال">
        <!-- building_license.Working_Area -->
      </div>

      <input type="number" [(ngModel)]="currCitizenLand.area" name="land_area" id="land-area" placeholder="مساحة قطعة الأرض" disabled>
      <!--get from lus.area - save in building_license.land_area -->

    </div>

  </article>

  <button (click)="saveChanges()">حفظ</button>

</section>