<section>
  <article>

    <div>
      <input type="text" name="inspection_date" id="inspection-date" disabled value="29/9/2019">
      <label for="inspection-date">تاريخ المعاينة</label>
    </div>

    <div>
      <select name="notification_type" id="notification-type">
        <option value="" selected disabled>نوع الإخطار</option>
      </select>
      <label for="notification-type">نوع الإخطار</label>
    </div>

    <div>
      <input type="text" name="notification_number" id="notification-number" disabled>
      <label for="notification-number">رقم الإخطار</label>
    </div>

    <div>
      <select name="notification_method" id="notification-method">
        <option value="" selected disabled>طريقة الإخطار</option>
      </select>
      <label for="notification-method">طريقة الإخطار</label>
    </div>

    <div>
      <input type="date" name="delivery_date" id="delivery-date">
      <label for="delivery-date">تاريخ التسليم</label>
    </div>

    <textarea name="description" id="description" cols="0" rows="10" placeholder="الوصف"></textarea>

  </article>
</section>