<header>
  <div class="logo">logo</div>
  <div class="breadcrumb">breadcrumb</div>
</header>
<main>
  <div class="main-header"><h1>إضافة موظف</h1></div>
  <div class="add-employee">
      <form action="" (ngSubmit)="add()">
          <input type="text" placeholder="الرقم القومى">
          <input type="text" placeholder="اسم المواطن">
          <select name="employee_department" id="employee-department">
            <option value="dept1">dept1</option>
            <option value="dept2">dept2</option>
            <option value="dept3">dept3</option>
          </select>
          <input type="submit" value="إضافة">
      </form>
  </div>
</main>