<section>

  <article>
    <table>
      <thead>
        <tr>
          <th>
            <button>add</button>
          </th>
          <th>
            <textarea name="" id="" cols="0" rows="1" placeholder="ملاحظات"></textarea>
          </th>
          <th>
            <input type="date" name="" id="">
          </th>
          <th>
            <select name="" id="">
              <option value="" selected disabled>المعاين</option>
            </select>
          </th>
          <th>
            <select name="" id="">
              <option value="" selected disabled>القائمون بالمعاينة</option>
            </select>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><button>delete</button></td>
          <td></td>
          <td>4/2/2019</td>
          <td>عبد العال امام</td>
          <td>الهندسية/التنظيم</td>
        </tr>
        <tr>
          <td><button>delete</button></td>
          <td></td>
          <td>4/2/2019</td>
          <td>عبد العال امام</td>
          <td>الهندسية/التنظيم</td>
        </tr>
        <tr>
          <td><button>delete</button></td>
          <td></td>
          <td>4/2/2019</td>
          <td>عبد العال امام</td>
          <td>الهندسية/التنظيم</td>
        </tr>
      </tbody>
    </table>
  </article>

</section>