<!-- <header>
  <div class="logo">logo</div>
  <div class="breadcrumb">breadcrumb</div>
</header> -->
<main>
  <div class="main-header"><h1>إضافة رسوم</h1></div>
  <div class="add-fee">
      <form action="" (ngSubmit)="add()">
          <input type="text" [(ngModel)]="newFee.name" name="fee_type" placeholder="الاسم">
          <input type="text" [(ngModel)]="newFee.value" name="fee_value" placeholder="القيمة">
          <input type="submit" value="إضافة">
      </form>
  </div>
  <!-- <div class="search-fees"><input dir="rtl" type="text" placeholder="بحث"></div> -->
  <div class="list-fees">
      <table id="add-fee-table">

          <tr *ngFor="let feeControl of feeControls; let i = index">

            <td *ngIf="!feeControl.fee.deleted">
              <input  type="text"
                      [(ngModel)]="feeControl.fee.name"
                      [disableControl]="feeControl.disableInput">
            </td>

            <td *ngIf="!feeControl.fee.deleted">
              <input type="text" [(ngModel)]="feeControl.fee.value" [disableControl]="feeControl.disableInput">
            </td>

            <td *ngIf="!feeControl.fee.deleted">
                <a (click)="delete(i)"><fa-icon [icon]="faTrashAlt"></fa-icon></a>
                <a (click)="enableEdit(feeControl)" [ngStyle]="{'display' : feeControl.diplayEdit}"><fa-icon [icon]="faEdit"></fa-icon></a>
                <a (click)="saveEdit(feeControl)" [ngStyle]="{'display' : feeControl.diplaySave}"><fa-icon [icon]="faSave"></fa-icon></a>
            </td>

          </tr>
          
      </table>
  </div>
</main>