<header>
  <div class="logo">logo</div>
  <div class="breadcrumb">breadcrumb</div>
</header>
<main>
  <div class="main-header"><h1>إضافة رسوم</h1></div>
  <div class="add-fee">
      <form action="">
          <input type="text" name="fee_type" placeholder="الاسم">
          <input type="text" name="fee_value" placeholder="القيمة">
          <input type="submit" value="إضافة">
      </form>
  </div>
  <div class="search-fees"><input dir="rtl" type="text" placeholder="بحث"></div>
  <div class="list-fees">
      <table id="add-fee-table">
          <tr>
              <td>name</td>
              <td>value</td>
              <td>
                  <a href="#">
                      <i class="fas fa-trash-alt"></i>
                      <i class="fas fa-edit"></i>
                  </a>
              </td>
          </tr>
          <tr>
              <td>name</td>
              <td>value</td>
              <td>
                  <a href="#">
                      <i class="fas fa-trash-alt"></i>
                      <i class="fas fa-edit"></i>
                  </a>
              </td>
          </tr>
          <tr>
              <td>name</td>
              <td>value</td>
              <td>
                  <a href="#">
                      <i class="fas fa-trash-alt"></i>
                      <i class="fas fa-edit"></i>
                  </a>
              </td>
          </tr>
          <tr>
              <td>name</td>
              <td>value</td>
              <td>
                  <a href="#">
                      <i class="fas fa-trash-alt"></i>
                      <i class="fas fa-edit"></i>
                  </a>
              </td>
          </tr>
          <tr>
              <td>name</td>
              <td>value</td>
              <td>
                  <a href="#">
                      <i class="fas fa-trash-alt"></i>
                      <i class="fas fa-edit"></i>
                  </a>
              </td>
          </tr>
          <tr>
              <td>name</td>
              <td>value</td>
              <td>
                  <a href="#">
                      <i class="fas fa-trash-alt"></i>
                      <i class="fas fa-edit"></i>
                  </a>
              </td>
          </tr>
          <tr>
              <td>name</td>
              <td>value</td>
              <td>
                  <a href="#">
                      <i class="fas fa-trash-alt"></i>
                      <i class="fas fa-edit"></i>
                  </a>
              </td>
          </tr>
          <tr>
              <td>name</td>
              <td>value</td>
              <td>
                  <a href="#">
                      <i class="fas fa-trash-alt"></i>
                      <i class="fas fa-edit"></i>
                  </a>
              </td>
          </tr>
          <tr>
              <td>name</td>
              <td>value</td>
              <td>
                  <a href="#">
                      <i class="fas fa-trash-alt"></i>
                      <i class="fas fa-edit"></i>
                  </a>
              </td>
          </tr>
          <tr>
              <td>name</td>
              <td>value</td>
              <td>
                  <a href="#">
                      <i class="fas fa-trash-alt"></i>
                      <i class="fas fa-edit"></i>
                  </a>
              </td>
          </tr>
          <tr>
              <td>name</td>
              <td>value</td>
              <td>
                  <a href="#">
                      <i class="fas fa-trash-alt"></i>
                      <i class="fas fa-edit"></i>
                  </a>
              </td>
          </tr>
          <tr>
              <td>name</td>
              <td>value</td>
              <td>
                  <a href="#">
                      <i class="fas fa-trash-alt"></i>
                      <i class="fas fa-edit"></i>
                  </a>
              </td>
          </tr>
          <tr>
              <td>name</td>
              <td>value</td>
              <td>
                  <a href="#">
                      <i class="fas fa-trash-alt"></i>
                      <i class="fas fa-edit"></i>
                  </a>
              </td>
          </tr>
          <tr>
              <td>name</td>
              <td>value</td>
              <td>
                  <a href="#">
                      <i class="fas fa-trash-alt"></i>
                      <i class="fas fa-edit"></i>
                  </a>
              </td>
          </tr>
          <tr>
              <td>name</td>
              <td>value</td>
              <td>
                  <a href="#">
                      <i class="fas fa-trash-alt"></i>
                      <i class="fas fa-edit"></i>
                  </a>
              </td>
          </tr>
          <tr>
              <td>name</td>
              <td>value</td>
              <td>
                  <a href="#">
                      <i class="fas fa-trash-alt"></i>
                      <i class="fas fa-edit"></i>
                  </a>
              </td>
          </tr>
          <tr>
              <td>name</td>
              <td>value</td>
              <td>
                  <a href="#">
                      <i class="fas fa-trash-alt"></i>
                      <i class="fas fa-edit"></i>
                  </a>
              </td>
          </tr>
          <tr>
              <td>name</td>
              <td>value</td>
              <td>
                  <a href="#">
                      <i class="fas fa-trash-alt"></i>
                      <i class="fas fa-edit"></i>
                  </a>
              </td>
          </tr>
          <tr>
              <td>name</td>
              <td>value</td>
              <td>
                  <a href="#">
                      <i class="fas fa-trash-alt"></i>
                      <i class="fas fa-edit"></i>
                  </a>
              </td>
          </tr>
          <tr>
              <td>name</td>
              <td>value</td>
              <td>
                  <a href="#">
                      <i class="fas fa-trash-alt"></i>
                      <i class="fas fa-edit"></i>
                  </a>
              </td>
          </tr>
      </table>
  </div>
</main>