<section>

  <article>
    <table>
      <thead>
        <tr>
          <th>
            التكلفة
          </th>

          <th>
            عدد التكرار
          </th>

          <th>
            نسبة الخصم
          </th>

          <th>
            تكلفة المتر
          </th>

          <th>
            المسطح
          </th>

          <th>
            البند
          </th>

        </tr>
      </thead>
      <tbody>
        <tr>

          <td>
            <input type="text" name="building_cost" id="building-cost" disabled>
          </td>

          <td>
            <input type="number" name="repetition" id="repetition">
          </td>

          <td>
            <input type="number" name="discount_percentage" id="discount-percentage">
          </td>

          <td>
            <input type="number" name="cost_per_meter" id="cost-per-meter">
          </td>

          <td>
            <input type="number" name="area" id="area">
          </td>

          <td>
            <input type="text" name="item" id="item" value="مسطح الدور الأرضىمسطح الدور الأرضى" disabled>
          </td>

        </tr>
        <tr>

          <td>
            <input type="text" name="building_cost" id="building-cost" disabled>
          </td>

          <td>
            <input type="number" name="repetition" id="repetition">
          </td>

          <td>
            <input type="number" name="discount_percentage" id="discount-percentage">
          </td>

          <td>
            <input type="number" name="cost_per_meter" id="cost-per-meter">
          </td>

          <td>
            <input type="number" name="area" id="area">
          </td>

          <td>
            <input type="text" name="item" id="item" value="مسطح الدور الأرضىمسطح الدور الأرضى" disabled>
          </td>

        </tr>
      </tbody>
    </table>
  </article>

</section>