<section>

  <div>
    <p>مستند أساسى</p>
    <p>استلام المستند</p>
    <p>ملاحظات</p>
    <p>اسم المستند</p>
  </div>

  <div *ngFor="let requestDocument of requestDocuments">

    <input  type="checkbox"
            [checked]="requestDocument.mandatory"
            name="required_document_{{requestDocument.id}}"
            id="required-document-{{requestDocument.id}}"
            disabled>

    <input  type="checkbox"
            name="document_delivery_{{requestDocument.id}}"
            id="document-delivery-{{requestDocument.id}}">

    <textarea name="deliverable_notes_{{requestDocument.id}}"
              id="deliverable-notes-{{requestDocument.id}}"
              rows="1"
              placeholder="ملاحظات">
    </textarea>

    <p>{{requestDocument.name}}</p>

  </div>

</section>
<a (click)="saveChanges()">حفظ</a>
<!-- for each document save it as an instance in Instance_Attachement -->