<section>

  <div>
    <p>مستند أساسى</p>
    <p>استلام المستند</p>
    <p>ملاحظات</p>
    <p>اسم المستند</p>
  </div>

  <div>

    <input type="checkbox" name="required_document" id="required-document">
    <input type="checkbox" name="document_delivery" id="document-delivery">
    <textarea name="deliverable_notes" id="deliverable-notes" rows="1" placeholder="ملاحظات"></textarea>
    <p>مستند</p>

  </div>
  <div>

    <input type="checkbox" name="required_document" id="required-document">
    <input type="checkbox" name="document_delivery" id="document-delivery">
    <textarea name="deliverable_notes" id="deliverable-notes" rows="1" placeholder="ملاحظات"></textarea>
    <p>مستند</p>

  </div>
  <div>

    <input type="checkbox" name="required_document" id="required-document">
    <input type="checkbox" name="document_delivery" id="document-delivery">
    <textarea name="deliverable_notes" id="deliverable-notes" rows="1" placeholder="ملاحظات"></textarea>
    <p>مستند</p>

  </div>

</section>