
<main>
  <div class="main-header"><h1>إدارة الصلاحيات</h1></div>

  <div class="add-privilege">
      <form action="" (ngSubmit)="add()">

          <input type="text" [(ngModel)]="newPrivilege.name" name="privilege_name" id="privilege-name" placeholder="اسم الصلاحية">

          <select name="group" [(ngModel)]="newPrivilege.group.id" id="group">
            <option value="0" selected disabled>المجموعة</option>
            <option *ngFor="let group of groups" value="{{group.id}}">{{group.name}}</option>
          </select>

          <select name="form" [(ngModel)]="newPrivilege.form.id" id="form">
            <option value="0" selected disabled>الخطوة</option>
            <option *ngFor="let form of forms" value="{{form.id}}">{{form.name}}</option>
          </select>


          <select name="module" [(ngModel)]="newPrivilege.module.id" id="module">
            <option value="0" selected disabled>الوحدة</option>
            <option value="1">الهندسة/ التنظيم</option>
          </select>

          <input type="submit" value="إضافة">

          <div>
            <label for="delete">حذف</label>
            <input #delete type="checkbox" (click)="toggleDelete(delete.checked)" name="delete" id="delete">
          </div>

          <div>
            <label for="update">تعديل</label>
            <input #update type="checkbox" (click)="toggleUpdate(update.checked)" name="update" id="update">
          </div>

          <div>
            <label for="insert">إضافة</label>
            <input #insert type="checkbox" (click)="toggleInsert(insert.checked)" name="insert" id="insert">
          </div>
          
      </form>
  </div>

  <div class="list-privileges">
      <table id="list-privileges-table">
        <thead>
          <tr>
            <th>حذف</th>
            <th>الخطوة</th>
            <th>المجموعة</th>
            <th>الصلاحية</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let privilege of privileges; let i = index">
                <td *ngIf="!privilege.deleted">{{privilege.name}}</td>
                <td *ngIf="!privilege.deleted">{{privilege.group.group_name}}</td>
                <td *ngIf="!privilege.deleted">{{privilege.form.form_name}}</td>
                <td *ngIf="!privilege.deleted">
                  <a (click)="deletePrivilege(i)"><fa-icon [icon]="faTrashAlt"></fa-icon></a>
                </td>
            </tr>
        </tbody>
      </table>
  </div>

</main>