


<div class="request-navigator" *ngIf="requestInstance">

  <input type="text" [(ngModel)]="requestInstanceFormatedID" name="request_id" id="request-id" placeholder="رقم المعاملة" disabled>
  <input type="text" [(ngModel)]="requestInstance.request.name" name="transaction_type" id="transaction-type" placeholder="الخدمة المطلوبة" disabled>

  <span class="v-separator1"></span>

  <input type="text" [(ngModel)]="requestInstance.customer.name" name="concerned_person" id="concerned-person" placeholder="صاحب الشأن" disabled>
  <input type="text" [(ngModel)]="transaction.agency.name" name="representative_name" id="representative-name" placeholder="الوكيل" disabled>

  <span class="v-separator2"></span>

  <input type="text" [(ngModel)]="address" name="address" id="address" placeholder="العنوان" disabled>

  <select name="request_steps" id="request-steps" (change)="openSelectedStep($event)">
    <option value="" selected disabled>الإجرائات المطلوبة</option>
    <option *ngFor="let step of requestData.steps" value="{{transactionType}}-{{step.form.name}}">{{step.form.name}}</option>

    <!-- <option value="{{transactionType}}-data">ملئ النموذج</option>
    <option value="deliverables-checklist">إستلام الطلب</option>
    <option value="deliverables-screening">فحص الطلب</option>
    <option value="initial-fees">تحديد رسوم أولية</option>
    <option value="initial-fees-procurement">تحصيل الرسوم الأولية</option>
    <option value="inspections-dates">تحديد ميعاد المعاينة</option>
    <option value="inspections-date-notification">إخطار العميل بميعاد المعاينة</option>
    <option value="inspections-result">تسجيل نتيجة المعاينة</option>
    <option value="building-cost">تسجيل تكلفة المبنى</option>
    <option value="fees">تحديد رسوم</option>
    <option value="fees-procurement">تحصيل رسوم</option>
    <option value="issuing-license">إصدار ترخيص</option> -->
  </select>

  <a (click)="goBack()" [routerLink]="">العودة لتحديد نوع المعاملة</a>

</div>

<router-outlet></router-outlet>

