<header>
  <div class="logo">logo</div>
  <div class="breadcrumb">breadcrumb</div>
</header>
<main>
  <div class="main-header"><h1>إضافة مستخدم</h1></div>
  <div class="add-user">
      <form action="" (ngSubmit)="add()">
          <input type="text" placeholder="اسم الموظف">
          <input type="text" placeholder="اسم المستخدم">
          <input type="text" placeholder="كلمة السر">
          <select name="user_role" id="user-role">
            <option value="role1">role1</option>
            <option value="role2">role2</option>
            <option value="role3">role3</option>
          </select>
          <input type="submit" value="إضافة">
      </form>
  </div>
</main>