<header>
  <div class="logo">logo</div>
  <div class="breadcrumb">breadcrumb</div>
</header>
<main>
  <div class="main-header"><h1>إضافة مستخدم</h1></div>
  <div class="add-user">
      <form action="" (ngSubmit)="addUser()">
          
          <ngx-select-dropdown  name="citizen_national_id"
                                [config]="config"
                                [options]="employees"
                                [(ngModel)]="currSelectOption"
                                (change)="selectEmployee()">
          </ngx-select-dropdown>

          <input  type="text"
                  name="username"
                  [(ngModel)]="newUser.username"
                  placeholder="اسم المستخدم">

          <input  type="password"
                  name="user_password"
                  [(ngModel)]="newUser.password"
                  placeholder="كلمة السر">

          <select name="user_role"
                  id="user-role"
                  [(ngModel)]="newUser.role.name">

            <option value="" disabled selected>Select Role</option>

            <option *ngFor="let role of roles" value="{{role.name}}">{{role.name}}</option>

          </select>

          <input type="submit" value="إضافة">

      </form>
  </div>
</main>