

main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(3vh, auto) minmax(3vh, auto) minmax(25vh, 50vh);
    grid-row-gap: 10px;

    margin: 10px 0;
    padding: 10px;
    box-shadow: 0 0 3px 3px gray inset;

    & > div{
        &:nth-child(n+2){
            box-shadow: 0 0 1px 1px gray;
            padding: 10px;
        }
    }
}

.main-header{
    justify-self: end;
    h1{margin: 0;}
}
.add-user{
    form{
        display: grid;
        grid-template-columns: 1fr 3fr 3fr 3fr;
        grid-column-gap: 10px;
    }

    input{
        direction: rtl;
    }
    
}



