<main>
  <div class="main-header"><h1>إضافة مستخدم</h1></div>
  <div class="add-user">
      <form action="" (ngSubmit)="addUser()">
          
        <input type="submit" value="إضافة">

        <input  type="password"
                name="user_password"
                [(ngModel)]="newUser.password"
                placeholder="كلمة السر">

        <input  type="text"
                name="username"
                [(ngModel)]="newUser.username"
                placeholder="اسم المستخدم">

        <ngx-select-dropdown  name="citizen_national_id"
                        [config]="config"
                        [options]="employees"
                        [(ngModel)]="currSelectOption"
                        (change)="selectEmployee()">
        </ngx-select-dropdown>

      </form>
  </div>
</main>