
<div class="meta-data-section">

  <div class="applicant">

    <ngx-select-dropdown  name="concerned_person"
                          id="concerned-person"
                          [config]="concernedPersonConfig"
                          [options]="citizens"
                          [(ngModel)]="currConcernedPerson"
                          (change)=getAllCitizenLus()>
    </ngx-select-dropdown>

    <!-- <select name="property_selection" id="property-selection">
      <option value="" selected disabled>الأرض/ العقار</option>
      <option *ngFor="let citizenLus of allCitizenLus" value="">الأرض/ العقار</option>
    </select> -->

    <ngx-select-dropdown  name="bond_agency_name"
                          id="bond-agency-name"
                          [config]="bondAgencyConfig"
                          [options]="citizens"
                          [(ngModel)]="currBondAgency">
    </ngx-select-dropdown>

    <select name="representative_relationship" id="representative-relationship">
        <option value="" selected disabled>الصفة</option>
        <option value="وكيل">وكيل</option>
    </select>
<!--     
    <select name="request_source" id="request-source">
        <option value="" selected disabled>مصدر الخدمة</option>
    </select> -->

  </div> 

  <div class="property-info">

    <!-- <input type="text" name="address_selection" id="address-selection" placeholder="التنظيم" disabled> -->
    <ngx-select-dropdown  name="address_selection"
                          id="address-selection"
                          [config]="addressSelectionConfig"
                          [options]="allCitizenStructures"
                          [(ngModel)]="currAddressSelection"
                          (change)="getAllCitizenUnits()">
    </ngx-select-dropdown>

    <select [(ngModel)]="currLusSelection" name="unit_number" id="unit-number">
      <option value="null" selected disabled>قطعة أرض</option>
      <option *ngFor="let citizenUnit of allCitizenUnits" [ngValue]="citizenUnit">{{citizenUnit.serial}}</option>
    </select>

    <!-- <select name="unit_type" id="unit-type">
      <option value="" selected disabled>الوحدة</option>
      <option value="قطعة أرض">قطعة أرض</option>
    </select> -->

  </div>

  <a (click)="addTransaction()">إضافة معاملة</a>
  <a (click)="goBack()">العودة لتحديد نوع المعاملة</a>
</div>
