<span class="openMenu" (click)="openMenu();"><fa-icon [icon]="faBars"></fa-icon></span>
<section id="SideMenu" class="SideMenu">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav();"><fa-icon [icon]="faTimes"></fa-icon></a>
    <!-- <form class="navbar-form" role="search">
    <div class="input-group add-on">
        <input class="form-control" placeholder="Search" name="srch-term" id="srch-term" type="text">
        <div class="input-group-btn">
        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
        </div>
    </div>
    </form>
    <hr class="line"> -->
    <ul id="menu">
        <li ><a>الصفحه الريئسيه</a>
            <ul class="downmenu">
                <li><a [routerLink]="['../panel-home']">الصفحة الرئيسية</a></li>
                <!-- <li><a [routerLink]="['../panel-home']">تقديم شكوى</a></li> -->
            </ul>
        </li>
        <li><a>الإعدادات</a>
            <ul  class="downmenu" >
                <li><a [routerLink]="['./transactions']">إضافه معامله</a></li>
                <li><a [routerLink]="['./fees']">إدارة الرسوم</a></li>
                <li><a [routerLink]="['./documents']">إدارة المستندات</a></li>
                <li><a [routerLink]="['./forms']">إدارة الخطوات</a></li>
                <li><a [routerLink]="['./groups']">إدارة المجموعات</a></li>
                <li><a [routerLink]="['./privileges']">إدارة الصلاحيات</a></li>
                <li><a [routerLink]="['./address-structures']">إدارة هيكلة العناوين</a></li>
                <!-- <li><a routerLink="/panel-home/">إضافه تقارير</a></li> -->
            </ul>
        </li>
        <li>
            <a>إدارة المستخدمين</a>
            <ul class="downmenu">
                <li><a [routerLink]="['./add-employee']">إضافة موظف</a></li>
                <li><a [routerLink]="['./add-user']">إضافة مستخدم</a></li>
            </ul>
        </li>
        <li>
            <a>إدارة الطلبات</a>
            <ul class="downmenu">
                <li><a [routerLink]="['./requests-list']">عرض الطلبات</a></li>
                <li><a [routerLink]="['./requests-add']">إضافة طلب</a></li>
            </ul>
        </li>
    </ul>
    
</section>