<header>
  <div class="logo">logo</div>
  <div class="breadcrumb">breadcrumb</div>
</header>
<main>
  <div class="main-header"><h1>إضافة تقارير</h1></div>
  <div class="add-document">
      <form action="">
          <input type="text" name="document_name" placeholder="اسم التقرير">
          <input type="submit" value="إضافة">
      </form>
  </div>
  <div class="list-documents">
      <table id="list-documents-table">
          <tr>
              <td>name name name name name name name </td>
              <td>
                  <a href="#"><i class="fas fa-trash-alt"></i></a>
              </td>
          </tr>
          <tr>
              <td>name name name name name name name </td>
              <td>
                  <a href="#"><i class="fas fa-trash-alt"></i></a>
              </td>
          </tr>
          <tr>
              <td>name name name name name name name </td>
              <td>
                  <a href="#"><i class="fas fa-trash-alt"></i></a>
              </td>
          </tr>
          <tr>
              <td>name name name name name name name </td>
              <td>
                  <a href="#"><i class="fas fa-trash-alt"></i></a>
              </td>
          </tr>
          <tr>
              <td>name name name name name name name </td>
              <td>
                  <a href="#"><i class="fas fa-trash-alt"></i></a>
              </td>
          </tr>
          <tr>
              <td>name name name name name name name </td>
              <td>
                  <a href="#"><i class="fas fa-trash-alt"></i></a>
              </td>
          </tr>
          <tr>
              <td>name name name name name name name </td>
              <td>
                  <a href="#"><i class="fas fa-trash-alt"></i></a>
              </td>
          </tr>
          <tr>
              <td>name name name name name name name </td>
              <td>
                  <a href="#"><i class="fas fa-trash-alt"></i></a>
              </td>
          </tr>
          <tr>
              <td>name name name name name name name </td>
              <td>
                  <a href="#"><i class="fas fa-trash-alt"></i></a>
              </td>
          </tr>
          <tr>
              <td>name name name name name name name </td>
              <td>
                  <a href="#"><i class="fas fa-trash-alt"></i></a>
              </td>
          </tr>
          <tr>
              <td>name name name name name name name </td>
              <td>
                  <a href="#"><i class="fas fa-trash-alt"></i></a>
              </td>
          </tr>
          <tr>
              <td>name name name name name name name </td>
              <td>
                  <a href="#"><i class="fas fa-trash-alt"></i></a>
              </td>
          </tr>
          <tr>
              <td>name name name name name name name </td>
              <td>
                  <a href="#"><i class="fas fa-trash-alt"></i></a>
              </td>
          </tr>
          <tr>
              <td>name name name name name name name </td>
              <td>
                  <a href="#"><i class="fas fa-trash-alt"></i></a>
              </td>
          </tr>
          <tr>
              <td>name name name name name name name </td>
              <td>
                  <a href="#"><i class="fas fa-trash-alt"></i></a>
              </td>
          </tr>
          <tr>
              <td>name name name name name name name </td>
              <td>
                  <a href="#"><i class="fas fa-trash-alt"></i></a>
              </td>
          </tr>
          <tr>
              <td>name name name name name name name </td>
              <td>
                  <a href="#"><i class="fas fa-trash-alt"></i></a>
              </td>
          </tr>
          <tr>
              <td>name name name name name name name </td>
              <td>
                  <a href="#"><i class="fas fa-trash-alt"></i></a>
              </td>
          </tr>
          <tr>
              <td>name name name name name name name </td>
              <td>
                  <a href="#"><i class="fas fa-trash-alt"></i></a>
              </td>
          </tr>
          <tr>
              <td>name name name name name name name </td>
              <td>
                  <a href="#"><i class="fas fa-trash-alt"></i></a>
              </td>
          </tr>
          <tr>
              <td>name name name name name name name </td>
              <td>
                  <a href="#"><i class="fas fa-trash-alt"></i></a>
              </td>
          </tr>
      </table>
  </div>
</main>