<section>

    <article>
  
      <div>
        <select name="accountant" id="accountant">
          <option value="" selected disabled>محدد الرسم</option>
        </select>
        <label for="accountant">محدد الرسم</label>
      </div>
  
      <div>
        <input type="date" name="initial_fees_date" id="initial-fees-date">
        <label for="initial-fees-date">تاريخ تحديد الرسوم</label>
      </div>
  
      <div>
        <select name="payment_method" id="payment-method">
          <option value="" selected disabled>طريقة السداد</option>
        </select>
        <label for="payment-method">طريقة السداد</label>
      </div>

      <div>
        <input type="date" name="initial_fees_settlement_date" id="initial-fees-settlement-date">
        <label for="initial-fees-settlement-date">تاريخ السداد</label>
      </div>
  
      <div>
        <textarea name="notes" id="notes" rows="3" placeholder="ملاحظات"></textarea>
      </div>
  
    </article>
    
    <article>
  
      <div>
  
        <button>إضافة الرسوم</button>
  
        <select name="fees_selection" id="fees-selection">
          <option value="" selected disabled>اختيار رسوم</option>
        </select>
  
      </div>
  
      <div>
        <table>
            <tr>
              <td>3</td>
              <td>رسم فحصرسم فحصرسم فحصرسم فحصرسم فحصرسم فحص</td>
            </tr>
            <tr>
              <td>31212</td>
              <td>رسم فحص</td>
            </tr>
            <tr>
              <td>3</td>
              <td>رسم فحص</td>
            </tr>
            <tr>
              <td>12302</td>
              <td>إجماى الرسوم</td>
            </tr>
        </table>
      </div>
  
    </article>

    <button *ngIf="step" (click)="feesAdd()">Add</button>
    <button *ngIf="!step" (click)="initialFeesAdd()">Add</button>
  
  </section>