section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;

    margin: 20px 0;

    & > article{
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 10px;

        box-shadow: 0 0 5px 8px silver inset;
        padding: 10px;

        &:nth-child(2) > div{

            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: 10px;
            align-items: center;
            justify-items: end;

            &:nth-of-type(1) > input{
                grid-column: 2 / span 1;

                width: 100%;
            }
        }
    }
}


a{
    justify-self: start;

    text-decoration: none;
    background: silver;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px black;
    font-size: 0.9em;
    cursor: pointer;

}
a:hover{
    box-shadow: 1px 1px 0px 0px black;
    font-size: 0.88em;
}

a:visited{
    color: black;
}


input, select{
    direction: rtl;
    box-sizing: border-box;
}
textarea{
    direction: rtl;
    resize: none;
}