<section>

  <article>
    <textarea name="description" id="description" rows="1" placeholder="التوصيف"></textarea>
  </article>

  <article>

    <select name="employee_name" id="employee-name">
      <option value="" selected disabled>اسم الموظف</option>
    </select>

    <div>
      <input type="date" name="inspection_date" id="inspection-date">
      <label for="inspection-date">تاريخ الفحص</label>
    </div>

    <div>
      <div>
        <label for="inspection-status-radio2">غير مستوفى</label>
        <input type="radio" name="inspection_status" id="inspection-status-radio2" value="غير مستوفى">
      </div>
      <div>
        <label for="inspection-status-radio1">مستوفى</label>
        <input type="radio" name="inspection_status" id="inspection-status-radio1" value="مستوفى">
      </div>
      <label for="accpeted">نتيجة الفحص</label>
    </div>

  </article>

</section>

<!-- canceled or not in transactions table - specify the request Request_Step_id - specify the step name in the Cancel_Type - Stop_Reasons -->